<form [formGroup]="heroForm">
  <div class="form-group">
    <hr>

    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="your message..." formControlName="message" ></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-button color="primary" type="submit">Submit Form</button>
</div>
</form>

<div class="notification is-success">
    Yay! We received your submission
</div>
