title{
  background-color: white;

}
h1{
  font-family: 'Cabin Sketch', cursive;
  color:black;
  font-size: 950%;
  margin-top: -90vh;
  text-align: left;
  margin-left: 10vw;
  margin-bottom: 10%;
}
img{
  opacity:0.8;
  margin-top:-59vh;
  width:100%;
  margin-bottom: 20vh;
}
nav{
  margin-top: 50vh;
  font-family: 'Cabin Sketch', cursive;
  color:black;
  font-size: 170%;


}
a{
  color:grey;
}
body{
  background: url('/assets/img/hair.jpg')no-repeat center center fixed;
}
